{% extends "layout.html" %}

{% block header %}
    <h1 align="center">{{ header }}</h1>
{% endblock %}

{% block menu %}
    <h3>Progress</h3>
    <ul>
    {% for eventID in eventInfo.eventIDList %}
        {% if eventID != eventInfo.highlightedEventID %}
            <li></li>
        {% else %}
            <li><b style="font-size:18px"><font color="brown">&lArr;</font></b> {{ loop.index }}/{{ loop.length }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <p><em><mark><b>Disclaimer:</b> The sample answers are for self-checking only. This does NOT replace the text definition you should read. If your knowledge misses, please go back to the previous pages and read again.</mark></em></p>
    <br>
    {{ eventInfo.eventTips|safe }}
    <p align="right"><span class="contentnav"><a href="{{ url_for('showQuestion') }}" id="nextpage">Begin</a></span></p>

    <script>
        var linkToNextPage = document.getElementById("nextpage");
        var countdown = 15;
        var placeholder = document.createElement("span");
        linkToNextPage.parentNode.replaceChild(placeholder, linkToNextPage);

        var timer;
        function showLinkToNextPage() {
            countdown--;
            if (countdown < 0) {
                placeholder.parentNode.replaceChild(linkToNextPage, placeholder);
                clearInterval(timer);
            }
        }
        timer = setInterval(showLinkToNextPage, 1000);
    </script>
{% endblock %}
